{% extends "base.html" %}

{% block content %}

<div class="Movies row">
{% for movie in movies %}
    <arcticle class="Movie-card card">
        <img src="{{ movie.poster.url }}" alt="" class="card-img-top">
        <div class="card-body">
            <h4 class="card-title">{{ movie.title }}</h4>
            <p class="card-text">{{ movie.synopsis|truncatewords:40 }}</p>
            <a href="{% url 'Movie:detail' movie.slug %}" class="btn btn-movie">Ver mas</a>
        </div>
    </arcticle>
{% endfor %}
</div>

{% endblock content %}