{% extends "base.html" %}

{% block title %} {{ movie.title }}{% endblock title %}

{% block content %}

<div class="col">
    <<arcticle class="Movie-card--detail card">
        <img src="{{ movie.poster.url }}" alt="" class="Movie-poster card-img-top">
        <div class="card-body">
            <h4 class="card-title">{{ movie.title }}</h4>
            <h6 class="card-subtitle text-muted">{{ movie.review.rating }}</h6>
            <p class="card-text">{{ movie.synopsis|truncatewords:40 }}</p>
            <a href="{% url 'Movie:review'  movie.slug %}" class="btn btn-primary">Add New Review</a>
            
            {% for review in movie.reviews.all %}
            <ul class="list-group">
                <li class="list-group-item">
                    {{ review.rating }} |
                    {{ review.comment }}
                </li>
            </ul>
            
            
                
            {% endfor %}
        </div>
    </arcticle>
</div>

    
{% endblock content %}
