{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %} {{ movie.title }}{% endblock title %}

{% block content %}

<div class="col">
    <arcticle class="Movie-card--detail card">
        <img src="{{ movie.poster.url }}" alt="" class="Movie-poster card-img-top">
        <div class="card-body">
                <a href="{% url 'Movie:update' movie.slug %}">edit</a>
                <a href="{% url 'Movie:delete' movie.slug %}">delete</a>
            <h4 class="card-title">{{ movie.title }}</h4>
            <h6 class="card-subtitle text-muted"><span class="icon-star"></span> {{ rating.rating__avg|floatformat:1 }}</h6>
            <p class="card-text">{{ movie.synopsis }}</p>

            {% if user.is_authenticated %}
                <form class="form-group" action="" method="POST">
                    {% csrf_token %}

                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}  

                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {% render_field field class="form-control" %}

                        {% if field.help_text %}
                            <small class="form-text text-muted">
                                {{ field.help_text }}
                            </small>
                        {% endif %}
                        </div>
                    {% endfor %}
                        <input type="submit" class="btn btn-movie" value="Add New Review">
                {% else %}
                    <a href="{% url 'Profile:sign_in' %}" class="alert alert-danger">You must log in or register to add a review</a>
                {% endif %}     
                </form>

            {% for review in movie.reviews.all %}
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ review.rating }} <span class="icon-star"> ~ {{ review.user }} </span> 
                    </h6>
                    <p class="card-text">
                        {{ review.comment }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </arcticle>
</div>

    
{% endblock content %}
